.icon-big {
  display:block;
  margin:0 auto!important;
}


.dashboard-icon {
  width:27px; height:17px;
  background:url("@{iconBasePath}glyphicons_232_cloud.png") no-repeat transparent;
}

.power-icon {
  width:27px; height:24px;
  background:url("@{iconBasePath}glyphicons_063_power.png") no-repeat transparent;
}

.home-icon {
  width:27px; height:24px;
  background:url("@{iconBasePath}glyphicons_020_home.png") no-repeat transparent;
}

.page-icon {
  width:17px; height:24px;
  background:url("@{iconBasePath}glyphicons_036_file.png") no-repeat transparent;
}

.settings-icon {
  width:27px; height:26px;
  background:url("@{iconBasePath}glyphicons_023_cogwheels.png") no-repeat transparent;
}

.games-icon {
  width:24px; height:24px;
  background:url("@{iconBasePath}glyphicons_009_magic.png") no-repeat transparent;
}
.flag-icon {
  width:20px; height:26px;
  background:url("@{iconBasePath}glyphicons_022_fire.png") no-repeat transparent;
}

.meeting-icon {
  width:35px; height:22px;
  background:url("@{iconBasePath}glyphicons_043_group.png") no-repeat transparent;
}

.my-meetings-icon {
  width:23px; height:25px;
  background:url("@{iconBasePath}glyphicons_045_calendar.png") no-repeat transparent;
}

.location-icon {
  width:15px; height:24px;
  background:url("@{iconBasePath}glyphicons_242_google_maps.png") no-repeat transparent;
}

.gift-icon {
  width:24px; height:25px;
  background:url("@{iconBasePath}glyphicons_069_gift.png") no-repeat transparent;
}

.iphone-icon {
  width:14px; height:24px;
  background:url("@{iconBasePath}glyphicons_163_iphone.png") no-repeat transparent;
}

.contact-icon {
  width:24px; height:16px;
  background:url("@{iconBasePath}glyphicons_010_envelope.png") no-repeat transparent;
}

.group-icon {
  width:35px; height:22px;
  background:url("@{iconBasePath}glyphicons_043_group.png") no-repeat transparent;
}

.charts-icon {
  width:27px; height:24px;
  background:url("@{iconBasePath}glyphicons_041_charts.png") no-repeat transparent;
}

.roundabout-icon {
  width:27px; height:27px;
  background:url("@{iconBasePath}glyphicons_082_roundabout.png") no-repeat transparent;
}