@iconBasePath: "../../img/";

@globalLoading: #FFF1A8;


// left side navigation
@leftNavBackgroundStart: #3B3B3B;
@leftNavBackgroundEnd: #121212;
@leftNavActiveLinkShadow:#0090D4;
@leftNavLinkHoverBackground: #121211;
@leftNavLinkColor: #dedede;
@leftNavLinkHover: rgba(0,0,0,.1);

@selectedBackgroundStart:#FFF6B8;
@selectedBackgroundEnd:#FFF6B8;
